html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
  background-color:#0f0f0f;
  color: #42db06;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
h2{
  color:#42db06;
}
form{
  margin-top:20px;
}
form div{
  margin-bottom: 15px;
  background-color: #0f0f0f;
  color: #42db06;
}
label{
  display: inline-block;
  width: 100px;
}
input, select, button{
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #42db06;
  background-color: #0f0f0f;
  color: #42db06;
}
button{
  cursor: pointer;
  border: 1px solid #42db06;
}
button:hover{
  background-color: #42db06;
  color: #0f0f0f;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem rgb(27, 199, 5), 0 0 0 0.25rem #42db06;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #0f0f0f;
  color: #42db06;
}